<div class="container"
  <div class="jumbotron">
    <h1>Nearest Alt Fuel Stations</h1>
    <% @stations.each do |station| %>
      <h3><%= station.name %></h3>
      <p>Address: <%= station.address %></p>
      <p>Fuel Types: <%= station.fuel_type %></p>
      <p>Access Times: <%= station.access_times %></p>
      <p>Distance: <%= station.distance %> miles</p>
      <br>
    <% end %>
  </div>
</div>
