<div class="container">
  <div class="jumbotron">
    <h1>Nearest Alternative Fuel Stations</h1>
    <table class="table">
      <th>Name</th><th>Address</th><th>Fuel Type</th><th>Access Times</th><th>Distance</th>
      <br>
      <% @stations.each do |station| %>
        <tr>
          <td class="col-md-4"><h5><%= station.name %></h5></td>
          <td class="col-md-2"><%= station.address %></td>
          <td class="col-md-1"><%= station.fuel_type %></td>
          <td class="col-md-3"><%= station.access_times %></td>
          <td class="col-md-2"><%= station.distance %> miles</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
